doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.5.10/dist/css/uikit.min.css')
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.5.10/dist/js/uikit.min.js")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.5.10/dist/js/uikit-icons.min.js")
  body
    include includes/nav.pug
    //include includes/header.pug
    - const myClasses = ['uk-tile', 'uk-tile-muted', 'uk-padding-remove']
    p(class=myClasses) Here is my paragraph
